@use "../../../../assets/scss/variables" as v;

.section-title {
  position: relative;
  padding: 115px 0 35px 0;
  text-align: center;

  &::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 100px;
    top: 0;
    left: 50%;
    margin-left: 1px;
    background: v.$color1;
  }
}
