.offer {
  background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.9)),
    url(../../../../assets/img/bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  input {
    @media (min-width: 576px) {
      flex: 0 1 auto !important;
      width: 250px !important;
    }
  }

  .input-group {
    justify-content: center;
  }

  &.overlay-top::before,
  &.overlay-bottom::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 15px;
    left: 0;
    z-index: 1;
  }

  &.overlay-top::before {
    top: -1px;
    background: url(../../../../assets/img/overlay-top.png);
  }

  &.overlay-bottom::after {
    bottom: -1px;
    background: url(../../../../assets/img/overlay-bottom.png);
  }
}
